{% if page.meta %}
  {% if page.meta.git_revision_date_localized %}
    {% set updated = page.meta.git_revision_date_localized %}
  {% elif page.meta.revision_date %}
    {% set updated = page.meta.revision_date %}
  {% endif %}
  {% if page.meta.git_creation_date_localized %}
    {% set created = page.meta.git_creation_date_localized %}
  {% endif %}
{% endif %}
{% if updated or created %}
  <aside class="md-source-file">
    {% if updated and created and updated != created %}
      <span class="md-source-file__fact">
        Created {{ created }}
      </span>
      <span class="md-source-file__fact">
        · Updated {{ updated }}
      </span>
    {% elif updated %}
      <span class="md-source-file__fact">
        Last updated {{ updated }}
      </span>
    {% elif created %}
      <span class="md-source-file__fact">
        Created {{ created }}
      </span>
    {% endif %}
  </aside>
{% endif %}
